.alex-brush-regular {
  font-family: "Alex Brush", cursive;
  font-weight: 800;
  font-style: normal;
  color: thistle;
}

h2
{
  font-family: "Crafty Girls", cursive;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

img
{
  width: 70%;
  height: 70%;
  }

th {
  background-color: brown;
  border-color: red; 
}

td {
  background-color: bisque;
  
}

section{
  background-color: beige;
  border: 10px solid rgb(237, 222, 222);
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black; 
}

.apropos
{
  color: brown;
}

label {
  display: inline-block;
  width: 100px;
}

input, textarea {
  width: calc(100% - 120px);
  padding: 5px;
  margin-bottom: 10px;
}


.pasdemargin
{
  margin: 0;
}

a {
  color: rgb(155, 118, 74);
  text-decoration: none;
}

.custom-button {
  background-color: rgb(155, 118, 74); 
  color: white; 
  padding: 10px 20px; 
  border: none;
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px;
  display: block; 
  margin-top: 20px;
}

.custom-button:hover {
  background-color: rgb(230, 193, 149); 
}